/* ===============================================
Global css
=================================================== */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* ===============================================
Start header section
=================================================== */

.carousel-item {
  background-color: #fceae8;
  padding: 50px 0;
}
.carousel-item img {
  width: 100%;
  height: 100%;
}

.slider-content {
  padding-top: 10%;
  padding-left: 5%;
  align-items: center;
  justify-content: center;
}

/* ===============================================
   Start category section
=================================================== */
.card {
  min-width: 100%;
}

.shadow-height {
  height: 600px;
}

/* ===============================================
 Bootstrap style override
=================================================== */

.panda-btn-danger {
  color: #fff;
  background-color: #ff3c89;
}

#hidden {
  display: none;
}

#subscribe {
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 0;
}
